$green-color: #43D854;
$green-light-color: #65FA76;

$player-color: #4285F4;
$player-color-dark: #2063D2;
$player-color-light: #64A7F6;

$computer-color: #EA4335;
$computer-color-dark: #C82113;
$computer-color-light: #FC6557;

$disabled-opacity: .6;
$transition-duration: .3s;

$text-display-bg: #111;
$text-display-color: $green-color;

$base-border-radius: 10px;

$button-bg: $green-color;
$button-disabled-bg: $green-light-color;
$button-color: #FFF;
